body{
  background-color: lightcoral;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(champ.jpg);
}


.contenedor{
  height: 1290px;
  width: 1935px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: ;
  position: relative;

}

.cuadrados{
  height: 560px;
  width: 560px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border: 2px solid white;
  box-shadow: inset 0 0 10px blue, 0 0 10px blue;
  border-radius: 60px;
  padding: 20px;
  transition: background-color .5s;
  justify-content: center;









}


.cuadrados:hover{

  border: 2px solid white;
  box-shadow: inset 0 0 10px red, 0 0 100px red;

}




#sub{
  text-align: center;
  font-size: 50pt;
  color: white;
  margin-top: 0;
}



.titulo{
text-align: center;
font-size: 75pt;
color: white;
margin-bottom: -10px;



}



h1{
align: right;
padding-top: 470px;
padding-right: 40px;
text-align: right;
font-size: 30pt;
font-family: sans-serif;
float: right;






}
#c1{
  float: left;
  background-color: red;
  background-image: url(messi.jpeg);



}


#c2{
  float: left;
  background-color: green;
    background-image: url(cr7.jpeg);
}

#c3{
  float: left;
  background-color: yellow;
  background-image: url(haaland.jpeg);
}

#c4{
  float: left;
  background-color: white;
  background-image: url(mb.jpeg);
}

#c5{
  float: left;
  background-color: black;

  background-image: url(ney.webp);
}


#c6{
  float: left;
  background-color: blue;
  background-image: url(ant.jpeg);
}
